__pycache__/*
.idea
mysql-data
dbs
/application/workprogramsapp/migrations
**/migrations/*
/application/discipline_code
**/.env
**/.env.production
.env
/application/export
nginx/ssl/data/
frontend/.env.production
**/discipline_code/*
**/upload/*
**/media/*
**/certificates/*
/frontend/.env.production

rpd-env/
venv/
.DS_Store
*.csh
*.ps1
*.fish
*.pyc
*.cfg
